html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Exo', sans-serif;
  height: 100%;
}

/* Bannerwather inicio */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: .5s;
}

.container4 {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(https://cdn.wallpapersafari.com/17/97/9oF6H0.jpg); */
  background-position: center center;
  background-size: cover;

}

.mid {
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 50%;
}

.corner_text {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  /* z-index: ; */
}

.corner_text p {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.corner_text p:nth-child(1) {
  top: 10px;
  left: 50%;

}

.corner_text p:nth-child(2) {
  top: 50%;
  left: 10px;

}

.corner_text p:nth-child(3) {
  bottom: 10px;
  left: 50%;
}

.corner_text p:nth-child(4) {
  top: 50%;
  right: 10px;
}

.corner_text p:nth-child(5) {
  top: 7%;
  left: 51%;

}

.corner_text p:nth-child(6) {
  top: 50%;
  left: 10%;
  transform: rotate(90deg);

}

.corner_text p:nth-child(7) {
  bottom: 8%;
  left: 51%;

}

.corner_text p:nth-child(8) {
  top: 50%;
  right: 9%;
  transform: rotate(90deg);

}

.corner_text:after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 1px solid #fff;
  border-radius: 50%;
}

.data {
  width: 350px;
  height: 350px;
  /* background-color:; */
  border-radius: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cel h1 {
  text-align: center;
  font-size: 50px;
  font-weight: initial;
  letter-spacing: 5px;
  color: #fff;
}

.cel p {
  text-align: center;
  font-size: 20px;
  color: #fff;
}


.cel span {
  font-size: 25px;
}

.date {
  margin-bottom: 5px;
}

.cel sub {
  font-size: 12px;
}

.max_min {
  display: flex;

}

.max_min hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

.max {
  flex: 1;
  margin-top: 10px;
}

.max p {
  text-align: center;
  color: #fff;
}

.max span {
  font-size: 25px;
}

.cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}


.cloud img {
  width: 100px;
  height: 100px;
  margin-top: 0px;
}




.min {
  flex: 1;
  margin-top: 10px;
}

.min p {
  text-align: center;
  color: #fff;
}

.min span {
  font-size: 25px;
}

.bottom {
  text-align: center;
}



.bottom p {
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 510px) {
  .mid {
    width: 300px;
    height: 300px;
  }

  .data {
    width: 210px;
    height: 210px;
  }

  .corner_text p {
    font-size: 16px;
  }


  .cel h1 {
    font-size: 20px;
  }

  .cel span {
    font-size: 20px;
  }

  .cal p {
    width: 18px;
  }

  .date {
    margin-bottom: 0px;
  }

  .data p {
    font-size: 14px;
  }


  .cloud img {
    height: 70px;
    width: 80px;
  }

  .max p {
    font-size: 12px;
  }

  .max span {
    font-size: 16px;
  }

  .max_min hr {
    margin-top: 5px;
    margin-bottom: 05px;
  }


  .min p {
    font-size: 12px;
  }

  .min span {
    font-size: 16px;
  }

  .bottom p {
    font-size: 10px;
  }


  .corner_text p:nth-child(1) {
    top: 2px;
    left: 50%;
    /* font-size:  */
  }

  .corner_text p:nth-child(2) {
    top: 49%;
    left: 2px;

  }

  .corner_text p:nth-child(3) {
    bottom: 2px;
    left: 50%;
  }

  .corner_text p:nth-child(4) {
    top: 49%;
    right: 2px;
  }

  .max {
    margin-top: 12px;
  }

  .min {
    margin-top: 12px;
  }


  .corner_text p:nth-child(5) {
    top: 7%;
    left: 51%;
    font-size: 10px;

  }

  .corner_text p:nth-child(6) {
    top: 50%;
    left: 10%;
    transform: rotate(90deg);
    font-size: 10px;

  }

  .corner_text p:nth-child(7) {
    bottom: 8%;
    left: 51%;
    font-size: 10px;
  }

  .corner_text p:nth-child(8) {
    top: 50%;
    right: 9%;
    transform: rotate(90deg);
    font-size: 10px;
  }

}

/* nubes inicio */
.container2{
  background: linear-gradient(to bottom right, #6EC1E4 ,#152a80);
  height:750px;
  width:100%;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
@keyframes clouds-loop-1 {
    to {
      background-position: -1000px 0;
    }
  }
  .clouds-1 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026619079949291570/clouds_233.png");
    animation: clouds-loop-1 20s infinite linear;
  }
  
  @keyframes clouds-loop-2 {
    to {
      background-position: -1000px 0;
    }
  }
  .clouds-2 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026617444720201728/clouds_991.png");
    animation: clouds-loop-2 15s infinite linear;
  }
  
  @keyframes clouds-loop-3 {
    to {
      background-position: -1579px 0;
    }
  }
  .clouds-3 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026615143339147374/clouds_55553.png");
    animation: clouds-loop-3 17s infinite linear;
  }
  .clouds {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
  
  .clouds-1,
  .clouds-2,
  .clouds-3 {
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 500px;
  }
/* nubes fin  */
/* Bannerwather fin */

/* cardWeather inicio */
.app-wrap {
  padding-top: 60px;
  height: 180px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 96vh;
  background: linear-gradient(to bottom right, #6EC1E4 ,#152a80, #7ec117);
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)); */
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 15px 15px;
}

header input {
  width: 100%;
  max-width: 330px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255 255 255 / 84%);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 5px solid #7ec117;  
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:#fff;
  text-align: center;
}

header input:focus {
  color: #7ec117;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #FFF;
  font-size: 16px;
}

.current .temp {
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  background-color: #7ec117;
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.current .hi-low {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}
/* cardWeather fin */

/* cardNewsPaper inicio */
a {
  text-decoration: none;
  color: #7ec117;
}

.card-body {
  /* background-color: #6EC1E4; */
}

.header-img {
  width: 100%;
  height: 320px;
  /* object-fit: cover; */
}
.avatar-img {
  vertical-align: middle;
  /* width: 70px; */
  height: 70px;
  /* border-radius: 50%; */
  object-fit: cover;
}
/* cardNewsPaper fin */

.font {
  color: #fff !important
}
.footer {
  background: linear-gradient(to bottom right, #152a80, #6EC1E4 , #7ec117);
}
